
body{
background-color: darkgray;
}
#gridcontainer{
    display: grid;
    margin: 0 10vw; 
    grid-template-columns: 0.75fr 3fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "title title"
                         "nav   content";
    grid-gap: 8px;
    justify-items: stretch;
}
#title{
    grid-area: title;
    background-color: #333;
    color: white;
    /* border: 5px solid white; */
   
}
#title h1{
    margin-left: 2rem;
}
#title h3{
    margin-left: 2rem;
}
nav{
    grid-area: nav;
    background-color: #333;
    /* border: 5px solid white;    */
}
nav ul{
    position: sticky;
    top: 1em;
}

#aboutme p img{
    float: right;
    max-height: 400px;
    margin-right: 2rem;
    padding-bottom: 2rem;
}
nav a:link{
    color: white;
}
#content{
    grid-area: content;
}

#flexcontainer{
    display: flex;
    flex-flow: column;
    gap: 8px;
}
ul{
    color: white;
}
li{
    font-size: large;
    text-decoration: none;
}
.contentitem h2, #aboutme h2{
    margin-left: 1rem;
}
.contentitem p, #aboutme p{
    margin: 1rem;
    font-size: large;
}
.contentitem img{
    max-height: 326px;
    border-left: 5px solid black;
    margin-left: 1rem;
    width: auto;
    float: right;
}
iframe{
    max-width: 62vw;
    /* padding-bottom: 56.25%; */
}


#piecedtogether, #shapedefense, #projects{
    background-color: white;
    color: black;
}

 #piecedtogether a:link, #shapedefense a:link{
    color: black;
}

#aboutme, #boxadventures, #livewire, #deadelements {
    background-color: #333;
    color: white;
}

#aboutme a:link, #boxadventures a:link, #livewire a:link, #deadelemets a:link{
    color: white;
}

a:visited{
    color: rgb(100, 100, 100);
}
a:focus, a:hover{
    background-color: darkgray;
}
a:active{
    background-color: lightgray;
}
summary {
    cursor: pointer;
}


@media screen and (max-width: 750px) {
    #gridcontainer{
        margin: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr auto;
        grid-template-areas: "title"
                             "nav"
                             "content";
    }
    #title h1{
        text-align: center;
        margin-left: 0;
    }
    nav{
        position: sticky;
        top: -5px;
    }
    .contentitem img{
        display: block;
        margin: 1em auto 0 auto;
        float: none;
    }
}